*{
    margin:0;
    padding: 0;
}
main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #333;
   
}
main img{
    width: 80px;
    margin-bottom: 10px;
}
.formulario {
    width: 30%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:white;
    border: 2px solid black;
    border: none;
    border-radius: 20px;
    padding: 10px;
}
.formulario .input-dados{
    margin-bottom: 10px;
}
.input-dados label{
    font-size: 1.5em;
    font-weight: 400;
    font-family: "Roboto";
}
.input-dados input{
    width: 100%;
    border: 2px solid #333;
    padding: 3px;
    border-radius: 20px;
}
 input[ type="submit"] , 
 input[ type="reset"]{
    margin-top: 5px;
  width:30%;
  display: flex;
  justify-content:center;
  flex-direction: row;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
}