@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: #172031;
    font-family: "Roboto";
   
}
.conteudo-principal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#546faa;
    border-radius: 10px;
    padding: 10px 20px;
}
.conteudo-principal .imagem{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.conteudo-principal p{
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: capitalize;
    margin-top: 10px;
   
}
.formulario{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.formulario .inserir-dados{
    position: relative;
    background: #333 transparent;
    width: 400px;
    padding: 10px 20px 30px;
}
.inserir-dados label{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    font-size:1.2rem;
    font-weight: bold;
    color: #171111;
}
.inserir-dados input{
    width: 100%;
    padding: 10px 5px;
    border: none;
    outline: none;
    border-radius: 40px;
}
.inserir-dados input::placeholder{
    font-size: 16px;
    color: rgb(161, 152, 152);
    font-weight: bold;
    padding: 10px;
}
input[type="submit"]{
    align-items: center;
    padding: 10px 20px;
    margin: 20px;
    font-size: 16px;
    border: 1px solid #333;
    border-radius: 40px;
    border: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-family: "Roboto";
    transform: translateY(-10px);
    transition: .3s;
}
input[type="submit"]:hover{
    background: #31456a;
}