@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --font_1: "Great Vibes", cursive;
    --font_2: "Poppins", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font_2);

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:url(../fotos/pexels-bri-schneiter-28802-346529.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.inicial{
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    color: white;
    border-radius: 12px;
    padding: 30px 40px;
}
.inicial h1{
    text-align: center;
    font-size: 32px;
}
.inicial .input-box{
    position: relative;
    width: 100%;
    height: 50%;
    margin: 30px 0;

}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding:  20px 40px 20px 20px;
    font-weight: 600;
}
.input-box input::placeholder{
    color: white;
}
.input-box i{
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
}

/* Estilizar Redes sociais  */
.inicial .rede-sociais{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;  /* Espaçamento entre ícones */
    margin: 20px 0;

}
.rede-sociais p{
    margin: 0 10px 0 0;
    font-weight: bold;
   
}

.rede-sociais i{
    font-size: 28px; /* Tamanho dos ícones */
    color: white; /* Cor inicial */
    transition: all 0.3s ease; /* Animação suave */
}
.rede-sociais i:hover{
    transform: scale(1.2);
    opacity: 0.8;
    cursor: pointer;
}
/* Cores específicas por rede (opcional) */
.rede-sociais i.bxl-facebook-circle:hover {
    color: #3b5999;
}

.rede-sociais i.bxl-instagram-alt:hover {
    color: #e4405f;
}

.rede-sociais i.bxl-twitter:hover {
    color: #1da1f2;
}
.inicial .lembrar-esquecer{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    font-weight: 600;
    margin: -15px 0 15px;
}
.lembrar-esquecer label input{
    accent-color: white;
    margin-right: 3px;
}
.lembrar-esquecer a{
    color: white;
    text-decoration: none;
    
}
.lembrar-esquecer a:hover{
    text-decoration: underline;
}
.inicial .botao{
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
.botao .registar-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
    font-weight: 600;
    margin-top: 10px;
}
.registar-link p a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 1em;
    
}
.registar-link p a:hover{
    text-decoration: underline;
}
