@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../fotos/bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.principal{
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    color: white;
    border-radius: 12px;
    padding: 30px 40px;
}
.principal h1{
    font-size: 36px;
    text-align: center;
}
.principal .input-box{
    position: relative;
    width: 100%;
    height: 50%;
    /* background: yellow; */
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 40px 20px 20px;
    font-weight: 600;


}
.input-box input::placeholder{
    color: white;
}
.input-box i{
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
}
.principal .lembrar-esuqecer{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
    font-weight: 600;
}
.lembrar-esuqecer label input{
    accent-color: white;
    margin-right: 3px;
}
.lembrar-esuqecer a{
    color: white;
    text-decoration: none;
}
.lembrar-esuqecer a:hover{
    text-decoration: underline;
}
.principal .btn{
    width: 100%;
    height: 45px;
    background:white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
.principal .registar-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
    font-weight: 600;

}
.registar-link p a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 1em;
}
.registar-link p a:hover{
    text-decoration: underline;
}

